* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: sans-serif;
   font-size: 1.5rem;
   background-color: #1b1c20!important;
   color: white;
}

.container {
   width: 1200px;
   margin: auto;
   height: 100%;
}

header {
   height: 80px;
   width: 100%;
}

.header {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.display-principal {
   font-size: 16px;
   width: 125px;
   height: 20px;
   line-height: 20px;
   color: #ccc;
   white-space: nowrap; 
   overflow: hidden;
   text-overflow: ellipsis;
}

.btn-connect {
   display: flex;
   margin-left: auto;
   padding: 10px 25px;
   background: linear-gradient(
      96.38deg,
      rgb(255, 231, 1) -0.67%,
      rgb(250, 81, 211) 31.53%,
      rgb(16, 217, 237) 61.61%,
      rgb(95, 255, 96) 100.67%
   );
   font-weight: 700;
   color: white;
   border-radius: 8px;
   cursor: pointer;
}

.btn-update {
   border: none;
   color: #fff;
   background: none;
}

.btn-delete {
   border: none;
   color: #fff;
   background: none;
}

.wrapper {
   width: 1200px;
   margin: 100px auto;
 }
 
 .headings {
   text-align: center;
   padding: 20px;
   font-size: 48px;
 }
 
 form {
   padding: 20px 10px;
   width: 400px;
   margin: 0px auto;
 }
 
 .form-group {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 16px;
 }
 
 .form-group > label {
   min-width: 120px;
 }
 
 .form-control {
   width: 260px;
   padding: 4px;
   outline: none;
   border-radius: 4px;
   border: 1px solid #000;
 }
 
 .form-control:focus {
   border-color: #2949ee;
 }
 
 .inner-form-control {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   border: 0;
 }
 
 
 .inner-form-control div > input {
   margin-right: 6px;
 }
 
 #dateofbirth {
   width: 160px;
   align-content: flex-start;
 }
 
 .btns {
   border: 0;
   width: 270px;
   display: flex!important;
   align-items: center;
   justify-content: space-evenly;
   margin-left: auto;
 }
 
 .btn {
   padding: 12px 20px;
 }